@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-card: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.search-scroll::-webkit-scrollbar {
  width: 6px;
}

.search-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.search-scroll::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 8px;
  border: 1px solid transparent;
}

.search-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.search-scroll {
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}
.recharts-surface:focus,
.recharts-wrapper:focus,
.recharts-surface:focus-visible {
  outline: none !important;
}

